* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --c1: #f0f0f0;
    --c2: #333;
    --c3: #007bff;
    --c4: #28a745;
}

header {
    background-color: var(--c3);
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2rem;
}

footer {
    background-color: var(--c2);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: var(--c3);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

input, select, textarea {
    border: 1px solid var(--c2);
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.post {
    background-color: var(--c1);
    border: 1px solid var(--c2);
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.janela {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.oculto {
    display: none;
}